body{
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: rgb(212, 226, 220);
}
header{
    background-color: rgb(15, 75, 75);
    padding: 8px;
    text-align: center;
    font-size: 15px;
    color: #af3d3d;
    text-decoration: solid;
 }
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
h1{
   background: radial-gradient(circle,#ff9b00,#ff2020);
    position: relative;
    top: 70%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px;
    border-radius: 10px;
}
div.ketrika{
    width: 100%;
    height: 400px;
    background-image: url(../izy.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px;
    border-radius: 10px;
}
p:hover{
    background-color: darkblue;
}
a{
    margin-right: 10px;
}
@media only screen(min-width:768px) and (max-whidth:1024px) 
h1{
    font-size: 24px;
    a{
        font-size: 18px;
    }
}
@media only screen and (max-width:600px){
.boc1{
    width: 100%;
}
} 




